body{
  margin: 0px;
  background: linear-gradient(to left, #000, #303 10%, #e0e 50%, #333 98%);
}

header{
  max-width: 1000px;
  margin: 0 auto;
}

header h2{
  color: #ffffff;
  text-align: center;
  margin: 0px;
  font-family: arial;
  font-size: 50px;
  text-shadow: 0px 10px 10px cyan;
}

header ul{
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style: none;
}

header ul li{
  display: inline-block;
}

header ul li a{
  color: #ffffff;
  /* text-decoration: none; */
}

header figure figcaption{
  font-family: arial;
}

header figure img{
  transition: .6s all;
  width: 64px;
}
  
header figure img:hover{
  transform: rotate(360deg);
}

figcaption {
  font-size: 25px;
  text-shadow: 0px 5px 5px cyan;

}

.section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

iframe {
  width: 70%; 
  height: 270px;
  border-radius: 10px;
  margin-top: 20px;
  transition: .6s all;
}

iframe:hover {
  box-shadow: 0px 0px 20px 15px yellow;
  cursor: nw-resize;
  /* transition: .6s all; */
}

canvas {
  width: 300px;
  height: 250px;
  margin-top: 20px;
  background-color: #0D0909;
}

.limpiar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 60px;
  height: 30px;
  margin-top: 10px;
  color: black;
  border: 3px solid #7fde10;
}

@media (max-width: 425px) {

  iframe {
    width: 90%;
    height: auto;
  }
}



